h1{
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg)
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}
html {
  font-family: Helvetica;
}
.green {
    background-color: mediumspringgreen;
}
.red {
  background-color: lightcoral;
}
.blue {
  background-color: skyblue;
}
h2  {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
strong {
  color: blue;
}
